@CHARSET "UTF-8";

/* CSS utilisé sur la plateforme HAL pour personnaliser notre collection HAL */

/* Le contenu de ce fichier est à copier-coller tel quel (dans le menu Privileges > Site Web > Apparence > Feuille de styles) 
   Ou sinon, encore plus simple : on peut directement uploader ce fichier style.css via le menu Privileges > Site Web > Ressources > Déposer le fichier.

   The content of this file should be copy/paste as is (in menu Privileges > Website > Styles > Stylesheet)
   Or even easier : just simply upload this style.css file through the menu Privileges > Website > Resources > Deposit the file)
   
*/

nav.navbar {
min-height:0px;
margin:0;
}
nav.sub-header {
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
	z-index: 1;
}
nav.navbar.header,
nav.navbar.header .navbar-collapse,
footer > :last-child {
	z-index: 2;
	height: initial !important;
	background-color: black;
}
footer {
	padding-top: 0;
}
footer > :last-child::before {
	content: '\00a0';
	width: 100%;
	background-image: url(/img/ng/hal-logo-header.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 120px 38px;
	height: 50px;
}
footer > :last-child li:last-child {
	margin-bottom: 0;
}
nav.navbar.header .administration-menu,
nav.navbar.header .menu-lang,
nav.navbar.header .connected-menu {
	top: initial;
}
#nav-services {
	margin-top: 0;
}
.navbar .navbar-header {
	min-height:24px;
}
.site-header {
	height: initial;
	min-height: initial;
}
@media (min-width: 993px) {
	nav.navbar.header .navbar-toggler {
		zoom: 0.8;
	}
	.navbar-brand.logo-HAL {
		padding: 0;
		zoom: 0.5;
	}
}
.navbar-brand.logo-HAL img {
	transform: none;
	opacity: 0.8;
}
nav.navbar .navbar-brand.logo-HAL:hover {
	background-position: 0;
}
.navbar .logo-ccsd,
.navbar .navbar-toggle,
.navbar form {
margin-top:0 !important;
margin-bottom:0 !important;
}
.navbar .navbar-toggle,
.navbar form .btn,
#nav-services form select {
padding-top:3px;
padding-bottom:3px;
margin: 3px;
font-size: inherit;
}
.navbar .navbar-toggle {
margin-top: 1px !important;
}
.navbar .navbar-toggle .icon-bar + .icon-bar {
margin-top: 4px !important;
}
.navbar img {
transform: scale(0.75);
}
.navbar img.user-photo-thumb {
transform: scale(1);
}
nav.navbar #nav-services .navbar-nav > li > * {
padding-top:2px;
padding-bottom:2px;
}
.navbar-nav li.active > a {
font-weight: bold;
}
.navbar-nav .ladoc a:after {
content: 'umentation';
}
#container {
margin-top:25px;
}
#container,
#container .col-md-12 {
    padding: 0;
}
.site-header .titre-site, /* HAL's new user interface */
#container .titre-site {  /* HAL's old user interface */
font-size: 2em;
text-shadow: 0px 0px 10px black, 2px 2px 5px black;
}
.site-header .titre-site h1,
.site-header .titre-site h2,
#container .titre-site h1,
#container .titre-site h2 {
font-size: 1em;
white-space: nowrap;
}
.site-header .titre-site,
.site-header .titre-site h1,
.site-header .titre-site h2,
#container .titre-site,
#container .titre-site h1,
#container .titre-site h2 {
position: relative;
top: -0.2em;
color: #faf1ef;
/*font-family: Arial,Helvetica,sans-serif;*/
font-size: 1.4em;
display: inline;
}
#container .titre-site a {
text-decoration: none;
}
.site-header .section-corps {
	margin: 0;
}
.site-header .section-corps table, /* HAL's new user interface */
#container .logo table { /* HAL's old user interface */
height:125px;
background: #782219 url('https://hal.archives-ouvertes.fr/BCL/public/background_hal.jpg') repeat-x;
}
.site-header .section-corps table tr,
#container .logo table tr {
background: url('https://hal.archives-ouvertes.fr/BCL/public/dessin_HAL.jpg') no-repeat 23em 100%;
display: block;
position: relative;
}
@media (min-width: 900px) {
.site-header .section-corps table tr,
#container .logo table tr {
background-position: 75% 100%;
}
.site-header.logo td:last-child, /* HAL's new user interface */
#container .logo td:last-child { /* HAL's old user interface */
padding-right: 12%;
}
}
.site-header.logo td a:hover, 
.site-header.logo td a:active, 
#container .logo td a:hover,
#container .logo td a:active {
color: white;
}
.site-header.logo td, 
#container .logo td {
vertical-align: middle;
width: 1%;
}
.site-header.logo td:first-child img,
#container .logo td:first-child img {
vertical-align: middle;
}
.site-header.logo td:first-child,
#container .logo td:first-child {
padding-left: 4%;
}
.site-header.logo td:last-child,
#container .logo td:last-child {
width:initial;
}
.site-header.logo td:last-child img,
#container .logo td:last-child img {
max-width:525px;
}
@media (max-width: 800px) {
.site-header.logo td:last-child img,
#container .logo td:last-child img {
max-width: 85%;
}
}
#container .sidebar-nav .nav-tabs > li > a {
text-transform:uppercase;
}
#container .sidebar-nav .nav-tabs > li:last-child:nth-child(even) {
display:none;
}
#container .sidebar-nav .nav-tabs > li:last-child:nth-child(odd) {
display:block; /* securité pour éviter que la règle précédente ne vienne masquer l'onglet "Privilèges" */
}
#container .sidebar-nav{
padding-left: 3%; 
}
#container .corps,
main .section-corps {
margin: 0 3%;
}
#container .breadcrumb > li + li::before {
content: "> ";
}
.clear-right {
clear:right;
}
.float-right {
float:right;
}


h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
color: #555555;
    font-size: 18;
}
div, table,label, input, button, select, textarea {
font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
table#liste_membres_labo .btn-default {
	background-color: #fff; /* only required for HAL's old user interface (will be no longer needed with HAL's new user interface as of end 2022.) */
}
a {
color: #808080;
}
#boutons_supplementaires {
position: absolute;
right: 15px;
margin: 3px 3% 0 0;
z-index: 1;
}
.section-widget .widget .widget-header, /* HAL's new user interface */
.section-corps .widget .widget-header,  /* HAL's new user interface */
.corps .widget-header { /* HAL's old user interface */
padding: 8px;
color: #555555;
background-color: #dddddd; 
}
.voir-aussi ul {
list-style: none;
}
.voir-aussi a {
text-decoration: underline;
}


/* correction des styles CSS de HAL : */
.row .row {
margin-left:0;
margin-right:0;
}
.text-center {
margin: auto;
}
.widget {
margin: 0px 0 20px 0;
width:100%;
}
.widget-content,
.widget-content > div {
width:100% !important;
}
.widget svg {
overflow:hidden;
height:100%;
}
.graphique-evolution .widget-content {
padding: 0px 0px 8px;
}
.graphique-evolution .widget-content div {
margin: auto;
}
.graphique-evolution .widget-content div[dir=ltr] {
width:100% !important;
}
.graphique-distribution .widget-content {
padding: 0;
}
.graphique-evolution .widget-content svg {
width: 100%;
}
/* fin des corrections */

.keword-2 {
display:none;
}

/* surcharge de la charte graphique par defaut de HAL : */
.website-navigation { /* HAL's new user interface */
	background-color: rgba(98, 49, 51, 0.54);
	position: absolute;
	width: 100%;
}
.website-navigation + * {
	margin-top: 240px; /* 5 x 60 - 60 */
}
@media (min-width: 768px) {
	.website-navigation + * {
		margin-top: 60px;
	}
}
.site-header.logo {
	height: 100px;
}
footer, /* HAL's new user interface */
.footer { /* HAL's old user interface */
background-color:#820e12;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
	background-color: #b53d41;
}
.website-navigation a:hover,
.website-navigation .dropdown-menu a,
.website-navigation .dropdown-menu li.nav-item:hover a {
	color: #820e12 !important;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
background-color: #8E1a1E;
border-color: #8E1a1E;
}
div.corps .btn-primary,
.btn-default[data-original-title],
div.corps td > .btn-default,
div.corps td > .btn-default:hover,
div.corps td > .btn-default:active {
color: #999999;
background-color: #f5f5f5;
border-color: #cccccc;
}
.btn-default[data-original-title]:hover,
.btn-default[data-original-title]:active,
div.corps td > .btn-default:hover,
div.corps td > .btn-default:active {
text-decoration:underline;
}
.btn-primary[data-original-title=Documents],
.btn-info[data-original-title=Annexes],
.btn-default[data-original-title=Notices],
div.corps td > .btn-primary,
div.corps td > .btn-info,
div.corps td:not(:last-child) > .btn-default {
border-color: #CCCCCC;
background-color: inherit;
color: #808080;
}
.btn-primary[data-original-title=Documents]:hover,
.btn-info[data-original-title=Annexes]:hover,
.btn-default[data-original-title=Notices]:hover,
.btn-primary[data-original-title=Documents]:active,
.btn-info[data-original-title=Annexes]:active,
.btn-default[data-original-title=Notices]:active,
div.corps td > .btn-primary:hover,
div.corps td > .btn-info:hover,
div.corps td:not(:last-child) > .btn-default:hover,
div.corps td > .btn-primary:active,
div.corps td > .btn-info:active,
div.corps td:not(:last-child) > .btn-default:active {
border-color: #CCCCCC;
background-color: inherit;
color:black;
text-decoration:none;
}
div#labo-structures .btn-primary,
#liste_membres_labo .btn-primary
 {
color: #ffffff;
background-color: #428bca;
border-color: #357ebd;
}
div#labo-structures .btn-default:hover,
div#labo-structures .btn-default:focus,
#liste_membres_labo .btn-default:hover,
#liste_membres_labo .btn-default:focus {
color: #333333;
background-color: #ebebeb;
border-color: #adadad;
}
div#labo-structures .btn-primary:hover,
div#labo-structures .btn-primary:focus,
#liste_membres_labo .btn-primary:hover,
#liste_membres_labo .btn-primary:focus {
color: #ffffff;
background-color: #3276b1;
border-color: #285e8e;
}
div#labo-structures a:hover,
#liste_membres_labo a:focus {
text-decoration:underline;
}
/* fin de la surcharge de la charte graphique de HAL */


/* export bibliographie : */
#myidhal a,
#mybiblio-requirements a,
#tricks a {
text-decoration: underline;
}
#mybiblio-requirements.loading {
background: url(https://hal.archives-ouvertes.fr/BCL/public/loading_96_32.gif) no-repeat 0% 50%;
padding-left: 106px;
min-height: 64px;
}
#continue-anyway:hover {
text-decoration: underline;
}
#flash-messages .mybiblio.alert-warning {
background-image: url(https://hal.archives-ouvertes.fr/BCL/public/warning_64.gif);
background-repeat: no-repeat;
background-position: 10px 50%;
min-height: 64px;
padding-left: 84px;
}
#mybiblio-requirements.alert-danger {
background-image: url(https://hal.archives-ouvertes.fr/BCL/public/interdit.png);
background-repeat: no-repeat;
background-position: 10px 50%;
min-height: 80px;
padding-left: 84px;
}

#myidhal {
color: gray;
}
#myidhal .btn,
#mybiblio-requirements .btn,
#tricks .btn {
text-decoration: none;
}
#myidhal .btn-sm,
#mybiblio-requirements .btn-sm,
#tricks .btn-sm {
margin: 0.15em 0.25em;
padding: 0.15em 0.5em;
font-size: inherit;
}
#mybiblio-requirements .btn-primary,
#tricks .btn-primary {
color: #ffffff;
background-color: #428bca;
border-color: #357ebd;
}
#myidhal .btn-primary,
#mybiblio-requirements .btn-primary,
#tricks .btn-primary {
color: #ffffff;
background-color: #428bca;
border-color: #357ebd;
}
#myidhal .btn-primary:hover,
#mybiblio-requirements .btn-primary:hover,
#tricks .btn-primary:hover {
color: #ffffff;
background-color: #3276b1;
border-color: #285e8e;
}
#mybiblio-requirements p {
padding-bottom: 2em;
vertical-align: bottom;
}
#mybiblio-requirements .btn-group {
padding: 8px 7px 16px;
}
#mybiblio-requirements .btn-group.loading {
background: url(https://hal.archives-ouvertes.fr/BCL/public/loading_32.gif) no-repeat 8px 50%;
padding-left: 48px;
height: 52px; /* min-height doesn't work on table cells */
}
#pubs_as_author,
#pubs_as_editor,
#pubs_as_seriesEditor {
display:table-row;
}
#pubs_as_author p,
#pubs_as_author .btn-group,
#pubs_as_editor p,
#pubs_as_editor .btn-group,
#pubs_as_seriesEditor p,
#pubs_as_seriesEditor .btn-group {
display:table-cell;
text-align: right;
}
#mybiblio-requirements p:last-child {
text-align: left;
padding-left: 0.5em;
height: 40px; /* min-height doesn't work on table cells */
}

#tricks {
margin: 5% 0;
}

/* tableau formes auteurs des membres du labo : */
table#liste_membres_labo {
border-collapse: collapse;
border:1px solid black;
min-width: 520px;
}
table#liste_membres_labo th {
padding: 5px 5px;
border-bottom:1px solid black;
}
table#liste_membres_labo td {
padding: 2px 5px;
border-bottom:1px solid #cccccc;
}
table#liste_membres_labo td:nth-child(3) {
text-align: right;
padding-right: 15px;
}
table#liste_membres_labo td:nth-child(3) .pull-right {
position:relative;
right:-5px;
}
table#liste_membres_labo tr.parti,
.legende .parti {
background:lightgrey;
}
table#liste_membres_labo tr td.inconnu,
.legende .inconnu {
background-color: red;
}
table#liste_membres_labo tr.idhal-manquant td:not(:first-child),
.legende .idhal-manquant {
background-color: yellow;
}
table#liste_membres_labo .doc-identifier {
	line-height: 1;
}
aside.legende {
	float: right;
	border:1px solid black;
	padding: 10px;
}
aside.legende div {
	padding:5px;
}
div.inversion_nom_prenom,
.inversion_nom_prenom td:first-child {
	color: red;
    background:  #FFDDDD;
    font-weight: bold;
}
div.date_suspecte,
tr td.date_suspecte { /* the "tr td" here gives more weight to this selector, so that it will properly override previous selector ".inversion_nom_prenom" */
    color: red;
    font-weight: bold;
}

/* tableau comptes utilisateur HAL : */
.bdd-labo {
	background-color: lightgrey;
}
.bdd-hal {
	background-color: lightblue;
}
.bdd-hal.error {
  background-color: red;
  color: white;
  font-weight: bold;
}
table#liste_membres_labo td.bdd-hal.unsure-match,
.bdd-hal.unsure-match {
	border-bottom: 3px solid orange;
	border-top: 3px solid orange;
}
.bdd-hal.unsure-match {
	border-left: 3px solid orange;
}
.bdd-hal.unsure-match:last-child {
	border-right: 3px solid orange;		
}
.bdd-hal.unsure-match ~ td.bdd-hal.unsure-match {
	border-left: none;
}
.bdd-hal.unsure-match {
	color: orange;
	font-weight: bold;
	background-color: darkcyan;
}
tr.valid td:not(.bdd-labo) {
	background-color: #dff0d8;
}
tr.incoming td:not(.bdd-labo) {
	background-color: #f2dede;
}
tr.old td:not(.bdd-labo) {
	background-color: #fcf8e3;
}
#liste_membres_labo tr.loading td:last-child:after {
	background: url(https://hal.archives-ouvertes.fr/BCL/public/loading_96_32.gif) no-repeat 0% 50%;
	content: 'Recherche des dépôts associés...';
	zoom: 0.6;
	position: relative;
	right: -116px;
}

/* ui-autocomplete (avec rendu HTML) sur les formes auteur : */
.ui-autocomplete .ui-menu-item .address:not(:empty):before {
	content: '(';
	display: inline;
}
.ui-autocomplete .ui-menu-item .address {
	font-style: italic;
}
.ui-autocomplete .ui-menu-item .address:not(:empty):after {
	content: ')';
}

/* arborescence du référentiel structures : */
div#labo-structures blockquote {
padding: 10px 20px;
margin: 0 0 20px;
border: 5px solid #eeeeee;
cursor: pointer;
}
div#labo-structures blockquote > [class=] {
	display:flex;
	gap:10px;
}
div#labo-structures blockquote.statut-INCOMING {
border: 5px solid red !important;
}
div#labo-structures blockquote.statut-VALID {
border: 5px solid #dff0d8;
}
div#labo-structures blockquote.statut-OLD {
border: 5px solid #f7e199;
}
div#labo-structures blockquote:hover,
div#labo-structures .structure-element-researchteam:hover {
background-color: #d9edf7;
    /* border-color: #bce8f1; */
}
div#labo-structures .structure-element-researchteam:hover h6 {
    color: #31708f;
}
div#labo-structures .structure-element-department:hover {
 background-color: #dff0d8;
    /* border-color: #d6e9c6; */
}
div#labo-structures .structure-element-department:hover h6 {
    color: #3c763d;
}
div#labo-structures .structure-element-laboratory:hover {
background-color: #fcf8e3;
    /* border-color: #faebcc; */
}
div#labo-structures .structure-element-laboratory:hover h6 {
    color: #8a6d3b;
}
div#labo-structures .structure-element-institution:hover {
background-color: #f2dede;
    /* border-color: #ebccd1; */
}
div#labo-structures .structure-element-institution:hover h6 {
    color: #a94442;
}
div#labo-structures .doc-identifier,
div#labo-structures .typdoc,
div#labo-structures .hal-bgtext {
	line-height: 2.5;
}
div#labo-structures .badge {
margin-left:5px;
}
div#labo-structures .bounds {
content: " ";
text-align: right;
height: 40px;
right: 0px;
padding-right: 0px; 
padding-left : 0px;
margin-left  : 0px; 
margin-right : 0px;
}
div#labo-structures .b_vertical {
position: absolute;
border-left: 3px solid rgb(51, 51, 51); 
left: 30px;
}
div#labo-structures .b_horizontal {
position: absolute;
border-bottom: 3px solid rgb(51, 51, 51);
left: 30px;
}
div#labo-structures .arrow {
top: 30px; 
position:relative;
}
div#labo-structures .code {
position: absolute; 
top: 30px;
}
div#labo-structures div.boutons_supplementaires {
float:right;
}
/* fin de l'arborescence du référentiel structures */


.footer {
height: initial;
width: 100%
}
.footer ul {
margin: 0 auto;
}
footer ul.pied,   /* HAL's new user interface */
.footer ul.pied { /* HAL's old user interface */
text-align: center;
padding: 1% 0 2% 0;
}
footer .pied li,
.footer .pied li {
display: inline;
margin: 0 1% 0 1%;
padding: 0 3% 0 0;
border-right: solid 1px #fff;
}
footer .pied li:last-child,
.footer .pied li:last-child {
border: none;
}
footer .pied li a,
.footer .pied li a {
font-family: "OpenSansBold", Arial, Helvetica, sans-serif;
text-transform: uppercase;
font-size: 1em;
color: #fff;
font-weight: 800;
}
