# interdire l'acces aux fichiers caches:
<Files ~ "^\.">
<IfModule mod_version.c>
  # Tous les environnements ont mod_version (requis pour IfVersion), sauf le serveur du CNRS
  <IfVersion < 2.4>
	deny from all
  </IfVersion>
  <IfVersion >= 2.4>
	Require all denied
  </IfVersion>
</IfModule>
<IfModule !mod_version.c>
  # pas de mod_version, donc pas le droit d'utiliser IfVersion. (On est vraissemblablement sur le serveur du CNRS)
	deny from all
</IfModule>
</Files>

# Interdire un eventuel index.html qui prendrait le dessus:
<Files .>
<IfModule mod_version.c>
  # Tous les environnements ont mod_version (requis pour IfVersion), sauf le serveur du CNRS
  <IfVersion < 2.4>
	deny from all
  </IfVersion>
  <IfVersion >= 2.4>
	Require all denied
  </IfVersion>
</IfModule>
<IfModule !mod_version.c>
  # pas de mod_version, donc pas le droit d'utiliser IfVersion. (On est vraissemblablement sur le serveur du CNRS)
	deny from all
</IfModule>
</Files>
